.modal-header {
    background-color: #343a40;
    color: white;
}

.modal-body {
    background-color: #212529;
    color: white;
}

.modal-footer {
    background-color: #343a40;
}

.modal-body p {
    color: white;
}
