<mat-form-field class="example-full-width">
  <mat-label class="example-full-width">Search for a movie</mat-label>
  <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" class="example-full-width">
    @for(suggestion of suggestions$ | async; track $index)
    {
      <mat-option (click)="onSuggestionClick(suggestion)" class="example-full-width">
        {{ suggestion }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
